.panel.panel-default
		.panel-heading
			.panel-title
				h4.panel-title Time Entries
		.panel-body

			.row
				.col-xs-6
					a#createProject.btn.btn-primary.btn-sm.project-list(ng-click='createTimeEntry()')
						i.glyphicon-plus.project-list-arrow
						| Add new time entry
					//- p.btn-group        
					//-   label.btn.btn-primary(ng-model='selected.viewMode', btn-radio='\'Day\'', uncheckable='uncheckable') Day
					//-   label.btn.btn-primary(ng-model='selected.viewMode', btn-radio='\'Week\'', uncheckable='uncheckable') Week
					//-   label.btn.btn-primary(ng-model='selected.viewMode', btn-radio='\'Month\'', uncheckable='uncheckable') Month

				.col-xs-6
					p.input-group
						input.form-control(
							type='text', 
							datepicker-popup='{{dateFormat}}', 
							ng-model='selected.selectedDate', 
							is-open='datePickerOpened', 
							ng-required='true', 
							close-text='Close')
						span(ng-click='openDatePicker($event)').input-group-addon
							i.glyphicon.glyphicon-calendar
			.row
				.col-xs-12
					table.table.table-condensed.table-hover.time-entry-table
						thead
							tr
								th.col-md-5 Project
								th.col-md-3 Time
								th.col-md-2 Duration
								th.col-md-2
						tbody(ng-repeat='timeEntry in timeEntries | orderBy:orderByField | timeEntryFilter:selected')
							tr
								td.timentry-cell {{timeEntry.project.name}}
								td.timentry-cell {{timeEntry.startTime | date: 'HH:mm:ss'}}-{{timeEntry.endTime | date: 'HH:mm:ss'}}
								td.timentry-cell {{duration(timeEntry)}}
								td
									.btn-group.pull-right
										button.btn.btn-default.btn-sm.glyphicon.glyphicon-edit(
											type='button', 
											ng-click='editTimeEntry(timeEntry)', 
											popover='Edit', popover-placement='left', 
											popover-trigger='mouseenter', 
											ng-disabled='isActive(timeEntry)')
										button.btn.btn-default.btn-sm.glyphicon.glyphicon-trash(
											type='button', 
											ng-click='deleteTimeEntry(timeEntry)', 
											popover='Remove', 
											popover-placement='right', 
											popover-trigger='mouseenter', 
											ng-disabled='isActive(timeEntry)')
						tfoot
							tr
								td Sum
								td
								td {{timeEntries | timeEntryFilter:selected | timeentrySum }}
								td

