.modal-header
	h4 {{titleText}}
	.modal-body

		form.form-horizontal(role='form')

			.form-group
				.col-sm-3
					label.control-label(for='project') Project
				.col-sm-9
					input#project.form-control(
						type='text', 
						ng-model='modalParams.projectName', 
						typeahead='name for name in projectNames | filter:$viewValue | limitTo:8', 
						required='required')
					p
						.alert.alert-info(ng-hide='projectNameExists(modalParams)')
							| Project name does not exist, new project will be created
			.form-group
				.col-sm-3
					label.control-label(for='startDate') Start Time
				.col-sm-5
					.input-group
						input#startDate.form-control(
							type='text', 
							datepicker-popup='{{dateFormat}}', 
							ng-model='modalParams.startDate', 
							is-open='startDatePickerOpened', 
							ng-required='true', 
							close-text='Close')
						span(ng-click='openStartDatePicker($event)').input-group-addon
							i.glyphicon.glyphicon-calendar
				.col-sm-4
					.input-group
						input.form-control(ng-model='modalParams.startTime')
						span.input-group-addon
							i.glyphicon.glyphicon-time

			.form-group
				.col-sm-3
					label.control-label(for='endDate') End Time
				.col-sm-5
					.input-group
						input#endDate.form-control(
							type='text', 
							datepicker-popup='{{dateFormat}}', 
							ng-model='modalParams.endDate', 
							is-open='endDatePickerOpened', 
							ng-required='true', 
							close-text='Close')
						span(ng-click='openEndDatePicker($event)').input-group-addon
							i.glyphicon.glyphicon-calendar
				.col-sm-4
					.input-group
						input.form-control(ng-model='modalParams.endTime')
						span.input-group-addon
							i.glyphicon.glyphicon-time

			.form-group
				.col-sm-3
					label.control-label(for='comment') Comment
				.col-sm-9
					textarea#comment.form-control(rows='5', placeholder='Enter comment', ng-model='modalParams.comment')

	.modal-footer
		button.btn.btn-default(type='button', ng-click='cancel()') {{cancelText}}
		button.btn.btn-primary(type='button', ng-click='ok()') {{okText}}
