.panel.panel-default
		.panel-heading
			.panel-title
				h4.panel-title Results
		.panel-body
			.row
				p.input-group
					.col-sm-2
						label.control-label(for='reportType') Date
					.col-sm-10
						.btn-group
							label.btn.btn-default(ng-model='dateSelection', btn-radio='\'today\'' ng-click='selectToday()') Today
							label.btn.btn-default(ng-model='dateSelection', btn-radio='\'yesterday\'' ng-click='selectYesterday()') Yesterday
							label.btn.btn-default(ng-model='dateSelection', btn-radio='\'thisWeek\'' ng-click='selectThisWeek()') This week
							label.btn.btn-default(ng-model='dateSelection', btn-radio='\'lastWeek\'' ng-click='selectLastWeek()') Last week
							label.btn.btn-default(ng-model='dateSelection', btn-radio='\'thisMonth\'' ng-click='selectThisMonth()') This month
							label.btn.btn-default(ng-model='dateSelection', btn-radio='\'lastMonth\'' ng-click='selectLastMonth()') Last month
			.row
				.input-group
					.col-md-2
					.col-sm-5
						.input-group
							input#startDate.form-control(
								type='text', 
								datepicker-popup='{{dateFormat}}', 
								ng-model='selected.from', 
								is-open='startDatePickerOpened', 
								ng-required='true', 
								close-text='Close')
							span(ng-click='openStartDatePicker($event)').input-group-addon
								i.glyphicon.glyphicon-calendar
					.col-sm-5
						.input-group
							input#endDate.form-control(
								type='text', 
								datepicker-popup='{{dateFormat}}', 
								ng-model='selected.to', 
								is-open='endDatePickerOpened', 
								ng-required='true', 
								close-text='Close')
							span(ng-click='openEndDatePicker($event)').input-group-addon
								i.glyphicon.glyphicon-calendar
			.row
				.col-xs-12
					h3 Week view
			.row
				.col-xs-12
					h3 Time Entries
					table.table.table-condensed.table-hover.time-entry-table
						thead
							tr
								th.col-md-5 Project
								th.col-md-3 Date
								th.col-md-3 Time
								th.col-md-2 Duration
						tbody(ng-repeat='timeEntry in timeEntries | orderBy:orderByField | timeEntryFilter:selected')
							tr
								td.timentry-cell {{timeEntry.project.name}}
								td.timentry-cell {{timeEntry.startTime | date: 'yyyy-MM-dd'}}
								td.timentry-cell {{timeEntry.startTime | date: 'HH:mm:ss'}}-{{timeEntry.endTime | date: 'HH:mm:ss'}}
								td.timentry-cell {{duration(timeEntry)}}
						tfoot
							tr
								td Sum
								td
								td
								td {{timeEntries | timeEntryFilter:selected | timeentrySum }}

